<!-- Container-fluid starts-->
<style>
    .kart{
        padding: 30px;
        background-color: #fff;
        border-radius: 20px;
        min-width: 300px;
        max-width: 350px;
        margin: 0px 20px;
        float: left;
    }
    .end{
        float:none!important;
    }
    .all-str{
        border: 1px solid #f2f2f2;
        background-color: #fff;
        border-radius: 10px;
        padding: 10px;
    }
    .str{
        padding: 10px;
        border-bottom: 1px solid #f2f2f2;
    }
    .cont{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .zh2{
        padding: 20px 20px 20px 20px ;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="kart">
            <h3>Клиенты</h3>
            <div class="all-str">
                <div class="cont"><div class="str">По записи Телефона</div> <div>34</div></div>
                <div class="cont"><div class="str">По записи WhatsApp</div><div>34</div></div>
                <div class="cont"><div class="str">По записи Online-формы</div><div>34</div></div>
                <div class="cont"><div class="str">По записи E-mail</div><div>34</div></div>
                <div class="cont"><div class="str">Без записи</div><div>34</div></div>
                <div class="cont"><div class="str">По рекомендации</div><div>34</div></div>
                <div class="cont"><div class="str">Рекламная кампания 1</div><div>34</div></div>
                <div class="cont"><div class="str">Рекламная кампания 2</div><div>34</div></div>
            </div>
        </div>
        <div class="kart end">
            <h3>Записи</h3>
            <div class="all-str">
                <div class="cont"><div class="str">Завершенные</div><div>34</div></div>
                <div class="cont"><div class="str">Запланированные</div><div>34</div></div>
                <div class="cont"><div class="str">Отказы</div><div>34</div></div>
                <div class="cont"><div class="str">не пришедшие</div><div>34</div></div>
            </div>
        </div>
        <div class="zh2 end"><h2>Динамика посещений по сотрудникам</h2></div>
        <div class="kart">
            <div class="all-str">
                <div class="cont"><div class="str">По записи Телефона</div> <div>34</div></div>
                <div class="cont"><div class="str">По записи WhatsApp</div><div>34</div></div>
                <div class="cont"><div class="str">По записи Online-формы</div><div>34</div></div>
                <div class="cont"><div class="str">По записи E-mail</div><div>34</div></div>
                <div class="cont"><div class="str">Без записи</div><div>34</div></div>
                <div class="cont"><div class="str">По рекомендации</div><div>34</div></div>
                <div class="cont"><div class="str">Рекламная кампания 1</div><div>34</div></div>
                <div class="cont"><div class="str">Рекламная кампания 2</div><div>34</div></div>
                <div class="cont"><div class="str"><b>Новые клиенты</b></div><div>37</div></div>
                <div class="cont"><div class="str"><b>Постоянные клиенты</b></div><div>37</div></div>
                <div class="cont"><div class="str"><b>Записи</b></div><div>37</div></div>
                <div class="cont"><div class="str">Завершенные</div><div>34</div></div>
                <div class="cont"><div class="str">Запланированные</div><div>34</div></div>
                <div class="cont"><div class="str">Отказы</div><div>34</div></div>
                <div class="cont"><div class="str">Не пришедшие</div><div>34</div></div>
            </div>
        </div>
    </div><!--col-xl-3 col-md-6 xl-50-->
</div><!--row-->