<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-4">
            <div class="card">
                <div class="card-body">
                    <div class="profile-details text-center">
                        <img [src]="img" alt=""
                             class="img-fluid img-90 rounded-circle blur-up lazyloaded">
                        <h5 class="f-w-600 mb-0">{{staff.firstname}}</h5>
                        <span>{{staff.email}}</span>
                        <div class="social">
                            <div class="form-group btn-showcase">
                                <button class="btn social-btn btn-fb d-inline-block">
                                    <i class="fa fa-facebook"></i></button>
                                <button class="btn social-btn btn-twitter d-inline-block"><i
                                        class="fa fa-google"></i></button>
                                <button class="btn social-btn btn-google d-inline-block mr-0"><i
                                        class="fa fa-twitter"></i></button>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="project-status">
                        <h5 class="f-w-600">Ваш статус в системе</h5>
                        <div class="media">
                            <div class="media-body" *ngIf="mainIn.now!=-1">
                                <h6>Выполненные заказы<span class="pull-right">{{mainIn.now}}%</span></h6>
                                <div class="progress sm-progress-bar">
                                    <div class="progress-bar bg-primary" role="progressbar"  [ngStyle]="{'width': mainIn.now + '%'}"
                                         aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="media-body" *ngIf="mainIn.now==-1">
                                <h6>У вас сегодня нет заказов</h6>

                            </div>
                        </div>
                        <div class="media">
                            <div class="media-body">
                                <h6>Заказы по сравнению с прошлой неделей<span class="pull-right">{{mainIn.week}}%</span></h6>
                                <div class="progress sm-progress-bar">
                                    <div class="progress-bar bg-secondary" role="progressbar" [ngStyle]="{'width': mainIn.week + '%'}"
                                         aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
<!--                        <div class="media">-->
<!--                            <div class="media-body">-->
<!--                                <h6>Заработок<span class="pull-right">70%</span></h6>-->
<!--                                <div class="progress sm-progress-bar">-->
<!--                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 70%"-->
<!--                                         aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <div class="card tab2-card">
                <div class="card-body">
                    <mat-tab-group>
                        <mat-tab label="Профиль">

<!--                            <a ngbNavLink>First</a>-->



                                <div class="tab-pane fade show active" id="top-profile" role="tabpanel"
                                     aria-labelledby="top-profile-tab">
                                    <h5 class="f-w-600"> Профиль</h5>
                                    <div class="table-responsive profile-table">

                                        <table class="table table-responsive" >
                                            <tbody>
                                            <tr>
                                                <td>Имя:</td>
                                                <td>{{staff.firstname}}</td>
                                            </tr>
                                            <tr>
                                                <td>Фамилия:</td>
                                                <td>{{staff.lastname}}</td>
                                            </tr>
                                            <tr>
                                                <td>Email:</td>
                                                <td>{{staff.email}}</td>
                                            </tr>
                                            <tr>
                                                <td>Телефон:</td>
                                                <td>{{staff.phone}}</td>
                                            </tr>
                                            <tr>
                                                <td>Место работы:</td>
                                                <td>{{staff.work}}</td>
                                            </tr>
                                            <!--                                            <tr>-->
                                            <!--                                                <td>Посленяя дата изменения:</td>-->
                                            <!--                                                <td>{{account.update}}</td>-->
                                            <!--                                            </tr>-->

                                            </tbody>
                                        </table >
                                    </div>
                                </div>
                        </mat-tab>
                        <mat-tab label="Настройки профиля">


                                <!--                                <div class="account-setting">-->
                                <!--                                    <h5 class="f-w-600">Notifications</h5>-->
                                <!--                                    <div class="row">-->
                                <!--                                        <div class="col">-->
                                <!--                                            <label class="d-block" for="chk-ani">-->
                                <!--                                                <input class="checkbox_animated" id="chk-ani" type="checkbox">-->
                                <!--                                                Allow Desktop Notifications-->
                                <!--                                            </label>-->
                                <!--                                            <label class="d-block" for="chk-ani1">-->
                                <!--                                                <input class="checkbox_animated" id="chk-ani1" type="checkbox">-->
                                <!--                                                Enable Notifications-->
                                <!--                                            </label>-->
                                <!--                                            <label class="d-block" for="chk-ani2">-->
                                <!--                                                <input class="checkbox_animated" id="chk-ani2" type="checkbox">-->
                                <!--                                                Get notification for my own activity-->
                                <!--                                            </label>-->
                                <!--                                            <label class="d-block mb-0" for="chk-ani3">-->
                                <!--                                                <input class="checkbox_animated" id="chk-ani3" type="checkbox"-->
                                <!--                                                    checked="">-->
                                <!--                                                DND-->
                                <!--                                            </label>-->
                                <!--                                        </div>-->
                                <!--                                    </div>-->
                                <!--                                </div>-->
                                <div class="account-setting deactivate-account">
                                    <h5 class="f-w-600">Блокировка аккаунта</h5>
                                    <div class="row">
                                        <div class="col">
                                            <label class="d-block" for="edo-ani">
                                                <input class="radio_animated" id="edo-ani" type="radio" name="rdo-ani"
                                                       checked="">
                                                Нашел более интересный продукт
                                            </label>
                                            <label class="d-block" for="edo-ani1">
                                                <input class="radio_animated" id="edo-ani1" type="radio" name="rdo-ani">
                                                Не устраивает цена
                                            </label>
                                            <label class="d-block mb-0" for="edo-ani2">
                                                <input class="radio_animated" id="edo-ani2" type="radio" name="rdo-ani"
                                                       checked="">
                                                Другая
                                            </label>

                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-primary">Заблокировать аккаунт</button>
                                </div>
                                <!--                                <div class="account-setting deactivate-account">-->
                                <!--                                    <h5 class="f-w-600">Delete Account</h5>-->
                                <!--                                    <div class="row">-->
                                <!--                                        <div class="col">-->
                                <!--                                            <label class="d-block" for="edo-ani3">-->
                                <!--                                                <input class="radio_animated" id="edo-ani3" type="radio" name="rdo-ani1"-->
                                <!--                                                    checked="">-->
                                <!--                                                No longer usable-->
                                <!--                                            </label>-->
                                <!--                                            <label class="d-block" for="edo-ani4">-->
                                <!--                                                <input class="radio_animated" id="edo-ani4" type="radio"-->
                                <!--                                                    name="rdo-ani1">-->
                                <!--                                                Want to switch on other account-->
                                <!--                                            </label>-->
                                <!--                                            <label class="d-block mb-0" for="edo-ani5">-->
                                <!--                                                <input class="radio_animated" id="edo-ani5" type="radio" name="rdo-ani1"-->
                                <!--                                                    checked="">-->
                                <!--                                                Other-->
                                <!--                                            </label>-->
                                <!--                                        </div>-->
                                <!--                                    </div>-->
                                <!--                                    <button type="button" class="btn btn-primary">Delete Account</button>-->
                                <!--                                </div>-->

                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->
