<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card tab2-card">
                <div class="card-header">
                    <h5> Изменить Профиль</h5>
                </div>
                <div class="card-body tab2-card">
                    <mat-tab-group>
                        <mat-tab label="Профиль">



                                <form [formGroup]="staffForm" (ngSubmit)="onSubmitStaff()"

                                      class="needs-validation user-add" novalidate="">
                                    <h4>Заполните следующие поля</h4>

                                    <div class="form-group row">
                                        <label for="validationCustom10" class="col-xl-3 col-md-4"><span>*</span>
                                            Имя</label>
                                        <input class="form-control col-xl-8 col-md-7" id="validationCustom10"
                                               formControlName="firstname"
                                               type="text" required="">
                                    </div>
                                    <div class="form-group row">
                                        <label for="validationCustom11" class="col-xl-3 col-md-4"><span>*</span>
                                            Фамилия</label>
                                        <input class="form-control col-xl-8 col-md-7" id="validationCustom11"
                                               type="text" required="" formControlName="lastname">
                                    </div>
                                    <div class="form-group row">
                                        <label for="validationCustom12" class="col-xl-3 col-md-4"><span>*</span>
                                            Телефон</label>
                                        <input class="form-control col-xl-8 col-md-7" id="validationCustom12"
                                               type="number" required="" formControlName="phone">
                                    </div>
                                    <div class="form-group row">
                                        <label for="validationCustom13" class="col-xl-3 col-md-4"><span>*</span>
                                            Email</label>
                                        <input class="form-control col-xl-8 col-md-7" id="validationCustom13"
                                               type="text" required="" formControlName="email">
                                    </div>
                                    <div class="form-group row">
                                        <label for="validationCustom17" class="col-xl-3 col-md-4"><span>*</span>
                                            Место работы</label>
                                        <input class="form-control col-xl-8 col-md-7" id="validationCustom17" disabled
                                               type="text" required="" formControlName="work">
                                    </div>


                                    <div class="form-button">
                                        <button class="btn btn-primary" type="submit">Сохранить</button>
                                    </div>
                                </form>
                                <!--&lt;!&ndash;                                </div>&ndash;&gt;-->
                        </mat-tab>
                        <mat-tab label="Аватар">


                                <div class="form-group row">
                                    <label class="col-xl-2 col-md-4"><span>*</span>
                                        Аватар</label>
                                    <input type="file" class="form-control col-xl-8 col-md-7" (change)="uploadFile($event)"/>
                                </div>
                                <!--&lt;!&ndash;                                <div class="form-group row">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                    <label class="col-xl-2 col-md-4"><span>*</span>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                        Загрузите аватар}</label>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                    <input type="file" class="form-control col-xl-8 col-md-7" (change)="uploadFile($event)"/>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                </div>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                &lt;!&ndash;                                </div>&ndash;&gt;&ndash;&gt;-->
                                <!--&lt;!&ndash;                            </ng-template>&ndash;&gt;-->
                                <!--&lt;!&ndash;                        </ngb-tab>&ndash;&gt;-->
                                <!--&lt;!&ndash;                        <ngb-tab>&ndash;&gt;-->
                                <!--&lt;!&ndash;                            <ng-template ngbTabTitle>Permission&ndash;&gt;-->
                                <!--&lt;!&ndash;                                <ng-template ngbTabContent>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                    <form [formGroup]="permissionForm" (ngSubmit)="onSubmit()"&ndash;&gt;-->
                                <!--&lt;!&ndash;                                        class="needs-validation user-add" novalidate="">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                        <div class="permission-block">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                            <div class="attribute-blocks">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                <h5 class="f-w-600 mb-3">Product Related permission </h5>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                <div class="row">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                    <div class="col-xl-3 col-sm-4">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                        <label>Add Product</label>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                    </div>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                    <div class="col-xl-9 col-sm-8">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                        <div&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                            class="form-group m-checkbox-inline mb-0 custom-radio-ml d-flex radio-animated">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                            <label class="d-block" for="edo-ani1">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                                <input class="radio_animated" id="edo-ani1" type="radio"&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                                    name="rdo-ani">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                                Allow&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                            </label>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                            <label class="d-block" for="edo-ani2">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                                <input class="radio_animated" id="edo-ani2" type="radio"&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                                    name="rdo-ani" checked="">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                                Deny&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                            </label>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                        </div>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                    </div>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                </div>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                <div class="row">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                    <div class="col-xl-3 col-sm-4">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                        <label>Update Product</label>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                    </div>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                    <div class="col-xl-9 col-sm-8">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                        <div&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                            class="form-group m-checkbox-inline mb-0 custom-radio-ml d-flex radio-animated">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                            <label class="d-block" for="edo-ani3">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                                <input class="radio_animated" id="edo-ani3" type="radio"&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                                    name="rdo-ani1">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                                Allow&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                            </label>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                            <label class="d-block" for="edo-ani4">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                                <input class="radio_animated" id="edo-ani4" type="radio"&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                                    name="rdo-ani1" checked="">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                                Deny&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                            </label>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                        </div>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                    </div>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                </div>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                <div class="row">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                    <div class="col-xl-3 col-sm-4">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                        <label>Delete Product</label>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                    </div>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                    <div class="col-xl-9 col-sm-8">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                        <div&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                            class="form-group m-checkbox-inline mb-0 custom-radio-ml d-flex radio-animated">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                            <label class="d-block" for="edo-ani5">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                                <input class="radio_animated" id="edo-ani5" type="radio"&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                                    name="rdo-ani2">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                                Allow&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                            </label>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                            <label class="d-block" for="edo-ani6">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                                <input class="radio_animated" id="edo-ani6" type="radio"&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                                    name="rdo-ani2" checked="">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                                Deny&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                            </label>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                        </div>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                    </div>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                </div>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                <div class="row">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                    <div class="col-xl-3 col-sm-4">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                        <label class="mb-0 sm-label-radio">Apply discount</label>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                    </div>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                    <div class="col-xl-9 col-sm-8">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                        <div&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                            class="form-group m-checkbox-inline mb-0 custom-radio-ml d-flex radio-animated pb-0">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                            <label class="d-block mb-0" for="edo-ani7">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                                <input class="radio_animated" id="edo-ani7" type="radio"&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                                    name="rdo-ani3">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                                Allow&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                            </label>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                            <label class="d-block mb-0" for="edo-ani8">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                                <input class="radio_animated" id="edo-ani8" type="radio"&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                                    name="rdo-ani3" checked="">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                                Deny&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                            </label>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                        </div>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                    </div>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                </div>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                            </div>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                            <div class="attribute-blocks">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                <h5 class="f-w-600 mb-3">Category Related permission </h5>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                <div class="row">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                    <div class="col-xl-3 col-sm-4">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                        <label>Add Category</label>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                    </div>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                    <div class="col-xl-9 col-sm-8">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                        <div&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                            class="form-group m-checkbox-inline mb-0 custom-radio-ml d-flex radio-animated">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                            <label class="d-block" for="edo-ani9">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                                <input class="radio_animated" id="edo-ani9" type="radio"&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                                    name="rdo-ani4">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                                Allow&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                            </label>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                            <label class="d-block" for="edo-ani10">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                                <input class="radio_animated" id="edo-ani10"&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                                    type="radio" name="rdo-ani4" checked="">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                                Deny&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                            </label>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                        </div>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                    </div>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                </div>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                <div class="row">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                    <div class="col-xl-3 col-sm-4">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                        <label>Update Category</label>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                    </div>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                    <div class="col-xl-9 col-sm-8">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                        <div&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                            class="form-group m-checkbox-inline mb-0 custom-radio-ml d-flex radio-animated">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                            <label class="d-block" for="edo-ani11">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                                <input class="radio_animated" id="edo-ani11"&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                                    type="radio" name="rdo-ani5">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                                Allow&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                            </label>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                            <label class="d-block" for="edo-ani12">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                                <input class="radio_animated" id="edo-ani12"&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                                    type="radio" name="rdo-ani5" checked="">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                                Deny&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                            </label>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                        </div>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                    </div>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                </div>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                <div class="row">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                    <div class="col-xl-3 col-sm-4">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                        <label>Delete Category</label>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                    </div>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                    <div class="col-xl-9 col-sm-8">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                        <div&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                            class="form-group m-checkbox-inline mb-0 custom-radio-ml d-flex radio-animated">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                            <label class="d-block" for="edo-ani13">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                                <input class="radio_animated" id="edo-ani13"&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                                    type="radio" name="rdo-ani6">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                                Allow&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                            </label>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                            <label class="d-block" for="edo-ani14">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                                <input class="radio_animated" id="edo-ani14"&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                                    type="radio" name="rdo-ani6" checked="">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                                Deny&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                            </label>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                        </div>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                    </div>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                </div>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                <div class="row">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                    <div class="col-xl-3 col-sm-4">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                        <label class="mb-0 sm-label-radio">Apply discount</label>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                    </div>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                    <div class="col-xl-9 col-sm-8">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                        <div&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                            class="form-group m-checkbox-inline custom-radio-ml d-flex radio-animated pb-0">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                            <label class="d-block mb-0" for="edo-ani15">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                                <input class="radio_animated" id="edo-ani15"&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                                    type="radio" name="rdo-ani7">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                                Allow&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                            </label>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                            <label class="d-block mb-0" for="edo-ani16">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                                <input class="radio_animated" id="edo-ani16"&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                                    type="radio" name="rdo-ani7" checked="">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                                Deny&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                            </label>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                        </div>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                    </div>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                </div>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                            </div>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                        </div>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                    </form>&ndash;&gt;-->
                                <!--&lt;!&ndash;                                </ng-template>&ndash;&gt;-->

                        </mat-tab>
                    </mat-tab-group>
                    <!--                    <div class="pull-right">-->
                    <!--                        <button type="button" class="btn btn-primary">Save</button>-->
                    <!--                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->
