<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-4">
            <div class="card">
                <div class="card-body">
                    <div class="profile-details text-center">

                        <img src="{{img}}" height="100"
                             class="img-fluid img-90 rounded-circle blur-up lazyloaded"  alt="" />

                        <span *ngIf="!imgflag">Добавить аватар</span>

                    </div>
                    <hr>
                    <div class="form-group row">

                        <input type="file" class="form-control col-xl-8 col-md-7" (change)="uploadFile($event)"/>
                    </div>

                </div>
            </div>
        </div>
        
        <div class="col-sm-8">
            <div class="card tab2-card">
                <div class="card-header">
                    <h5> Добавить сотрудника</h5>
                </div>
                <div class="card-body tab2-card">


                                    <form [formGroup]="accountForm" (ngSubmit)="onSubmit($event)"
                                        class="needs-validation user-add" novalidate="">
                                        <h4>Заполните следующие поля</h4>

                                        <div class="form-group row">
                                            <label for="validationCustom1" class="col-xl-3 col-md-4"><span>*</span>Имя</label>
                                            <input class="form-control col-xl-8 col-md-7" id="validationCustom1" formControlName="first"
                                                   type="text" required="">
                                        </div>
                                        <div class="form-group row">
                                            <label for="validationCustom2" class="col-xl-3 col-md-4">
                                                Отчество</label>
                                            <input class="form-control col-xl-8 col-md-7" id="validationCustom2"
                                                type="text" required="" formControlName="middle">
                                        </div>
                                        <div class="form-group row">
                                            <label for="validationCustom3" class="col-xl-3 col-md-4">
                                                Фамилия</label>
                                            <input class="form-control col-xl-8 col-md-7" id="validationCustom3"
                                                type="text" required="" formControlName="last">
                                        </div>
                                        <div class="form-group row">
                                            <label for="validationCustom4" class="col-xl-3 col-md-4"><span>*</span>
                                                Email</label>
                                            <input class="form-control col-xl-8 col-md-7" id="validationCustom4"
                                                type="text" required="" formControlName="email">
                                        </div>
                                        <div class="form-group row" >
                                            <label for="validationCustom5" class="col-xl-3 col-md-4">
                                                Телефон</label>
                                            <input class="form-control col-xl-8 col-md-7" id="validationCustom5"
                                                   type="number" required="" formControlName="phone">
                                        </div>
                                        <div class="form-group row" >
                                            <label for="validationCustom6" class="col-xl-3 col-md-4">
                                                День рождения</label>
                                            <input class="form-control col-xl-8 col-md-7" id="validationCustom6"
                                                   type="date" required="" formControlName="birthday">
                                        </div>

                                        <div class="form-button">
<!--                                            <button class="btn btn-primary" type="submit">Отправить приглашение</button>-->
                                            <button type="submit">Submit</button>
                                        </div>
                                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->
